
{% if cart is not null %}
<div class="bg-light px-4 py-2 mb-3 d-flex">
    <p class="mb-0">{{ cart.quantity }} dans votre panier</p>
    <a href="{{ path('cart') }}" class="ms-auto text-decoration-underline small">Voir</a>
</div>
{% endif %}
{{ form_start(cartForm, {'attr': {'class': 'p-4 bg-light'}}) }}
<div class="form-group">
    {{ form_label(cartForm.quantity) }}
    {{ form_widget(cartForm.quantity, {
        'attr': {
            'class': 'form-control ' ~ (cartForm.quantity.vars.valid ? '' : 'is-invalid')
        }
    }) }}
    <div class="invalid-feedback">
        {{ form_errors(cartForm.quantity) }}
    </div>
    <button type="submit" class="btn btn-primary d-block w-100 mt-2">
        {% if cart is null %}
          Ajouter au panier
            {% else %}
            Ajouter un autre à votre panier
        {% endif %}
    </button>
</div>
{{ form_end(cartForm) }}
{% for message in app.flashes('success') %}
    <div class="mt-4">
        <p>
            <i class="fas fa-check-circle text-success"></i> {{ message }}
        </p>
    </div>
{% endfor %}