
{%  if products %}

{% for product in products %}
        <div class="col-lg-4">
            <div class="product-box">
                <div class="product-img">
                    {% for image in product.image %}
                        {% if loop.first %}
                    <a href="{{ path('product', {slug: product.slug})}}">
                        <img src="{{ asset('images/products/' ~  image.file )}}" class="d-block w-100">
                    </a>
                        {% endif %}
                    {% endfor %}

                    <div class="heart-container">
                        {% if app.user %}
                            {{ render(controller(
                                'App\\Controller\\WishlistController::updateWishlist', {id: product.id}
                            )) }}
                        {% elseif not app.user %}
                            <a href="{{ path('login') }}" class="btn-wishlist">
                                <i class="far fa-heart"></i>

                            </a>
                        {% endif %}


                    </div>
                </div>

                <div class="product-content">
                    <div class="row align-items-start">
                        <div class="product-info col-8">
                            <h3 class="product-title">
                                <a href="{{ path('product', {slug: product.slug})}}"> {{ product.name }}</a>
                            </h3>
                            <p>
                                <a href="{{ path('category', {slug: product.category.slug}) }}" class="product-category"  >
                                    {{ product.category }}
                                </a>
                            </p>
                        </div>
                        <div class="product-price col-4 text-end">

                            <p class="price-content">
                                {% if product.sale  %}

                                    <span class="price-promotion">
                                        {% set priceAfterSale = product.price - ((product.price / 100) * product.sale)  %}
                                        {{ priceAfterSale|round}} &euro;
                            </span>
                                {% endif %}
                                <span {% if product.sale %} class="price-regular" {% endif %} >
                                                            {{ product.price }} &euro;
                            </span>
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    {% endfor %}
    {% else %}
    <p>Aucun produit</p>
{% endif %}